<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/burger.css" type="text/css" />
    <title>Eat-Da-Burger</title>
</head>

<body>
    <div class="container text-center">
        {{{body}}}
    </div>
</body>

</html>